<div class="container">

    <!-- Portfolio Item Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">{{::recipeData.title}}
                    <small>{{::recipeData.category}}</small>
                </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a>
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" src="../{{::recipeData.picture_path_big}}" alt="Food">
        </div>

        <div class="col-md-4">
            <span class="flag-icon flag-icon-{{recipeData.cuisine}}" style="margin-bottom: 2%"></span>
            <progressbar class="progress-striped active" animate="true" max="5" value="progressValue" type="danger"><i><span count-to="{{countTo}}" duration="1" count-from="{{countFrom}}"></span> / 5</i>
            </progressbar>
            <h3>Directions</h3>
            <p>{{::recipeData.directions}}</p>
            <h3>Ingredients</h3>
            <ul>
                <li data-ng-repeat="recipe in recipeData.ingredients">{{::recipe}}</li>
            </ul>
            <hr>
            <rating-star-directive rank=recipeData.rank rid=recipeData._id></rating-star-directive>
        </div>
    </div>
    <hr>
    <div class="col-lg-12 col-sm-12 text-left">
        <div class="well">
            <h4>What is on your mind?</h4>
            <div class="input-group">
                <input type="text" id="userComment" data-ng-model="currMsg" class="form-control input-sm chat-input" placeholder="Write your message here..." />
                <span class="input-group-btn" ng-click="addComment()">     
            <a href="" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-comment"></span> {{commentBtn}}</a>
                </span>
            </div>
            <hr>
            <ul id="sortable" class="list-unstyled ui-sortable" ng-repeat="message in recipeData.comments">
                <button class="close" ><i ng-show="$scope.$parent.user == message.creating_user" ng-click="delComment($index)" class="fa fa-times"></i>
                </button>
                <button class="close"><i ng-show="$scope.$parent.user == message.creating_user" ng-click="editComment($index)" class="fa fa-pencil-square-o"></i>
                </button>
                <br/>
                <strong class="pull-left primary-font">{{message.creating_user}}</strong>
                <small class="pull-right text-muted">
           <span class="glyphicon glyphicon-time"></span> {{message.creation_date}}</small>
                <br>
                <li class="ui-state-default">{{message.content}}</li>
                <hr>
            </ul>
        </div>
    </div>